@import url(http://fonts.googleapis.com/css?family=Roboto:100);

body {
    background-color: #f1f1f1;
    font-family: 'Roboto Thin', 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
    line-height: 1;
    color: #666666;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    overflow: hidden;
}
#calculator {
    width: 320px;
    height: 540px;
    background-color: #f1f1f1;
    user-select: none;
    -webkit-user-select: none;
    box-shadow: 1px 1px #e1e1e1, 2px 2px #e1e1e1, 3px 3px #e1e1e1, 3px 3px #e1e1e1, 4px 4px #e1e1e1, 5px 5px #e1e1e1, 6px 6px #e1e1e1, 7px 7px #e1e1e1, 8px 8px #e1e1e1, 9px 9px #e1e1e1, 10px 10px #e1e1e1;
}
#calculator .display {
    background-color: #ffffff;
    height: 220px;
    padding: 16px;
    box-sizing: border-box;
}
#calculator .display .input {
    height: 32px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}
#calculator .display .input .expression {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
#calculator .display .input .delete {
    width: 16px;
    cursor: pointer;
    color: #e1e1e1;
    font-weight: 100;
    font-size: 20px;
    line-height: 16px;
}
#calculator .display .result {
    height: 124px;
    padding: 8px 0;
    font-size: 48px;
    font-weight: 600;
    box-sizing: border-box;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}
#calculator .display .memory {
    height: 32px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: visible;
    white-space: nowrap;
}
#calculator .display .memory::-webkit-scrollbar {
    display: none;
}
#calculator .display .memory .item {
    box-sizing: border-box;
    padding: 7px 7px 7px 15px;
    border-radius: 20px;
    border: 1px solid #e1e1e1;
    display: inline-block;
    /*float: left;*/
    cursor: default;
    margin-right: 8px;
    height: 32px;
}
#calculator .display .memory .item:hover {
    background-color: #f1f1f1;
}
#calculator .display .memory .item .value {
    /*max-width: 60px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
#calculator .display .memory .item .delete {
    cursor: pointer;
    display: inline-block;
    /*padding: 2px;*/
    margin-left: 6px;
    /*line-height: 0.5;*/
    color: #e1e1e1;
    font-weight: 100;
    font-size: 24px;
    line-height: 16px;
}
#calculator .display .memory .item:hover .delete {
    color: #666666;
}
#calculator .buttons {
    height: 320px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-weight: 100;
}
#calculator .buttons .input {
    width: 236px;
    padding: 16px 8px 16px 16px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
#calculator .buttons .input .row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}
#calculator .buttons .input .row .button {
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: #e1e1e1;
    font-size: 24px;
    border-radius: 40px;
    padding: 18px;
    box-sizing: border-box;
    cursor: pointer;
}
#calculator .buttons .input .row .button:hover {
}
#calculator .buttons .input .row .button:active {
    box-shadow: inset 0 2px rgba(0,0,0,0.25);
    background-color: #d1d1d1;
    color: #f1f1f1;
}
#calculator .buttons .operations {
    width: 84px;
    padding: 16px 16px 16px 8px;
    box-sizing: border-box;
}
#calculator .buttons .operations .group {
    background-color: #EF4136;
    color: #f1f1f1;
    height: 288px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
#calculator .buttons .operations .group .button {
    text-align: center;
    font-size: 24px;
    height: 60px;
    border: 8px solid #EF4136;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 38px;
    cursor: pointer;
    background-color: #EF4136;
}
#calculator .buttons .operations .group .button:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    font-size: 20px;
    line-height: 24px;
    /*margin: -8px;*/
    /*width: 76px;*/
    /*height: 76px;*/
}
#calculator .buttons .operations .group .button:active {
    box-shadow: inset 0 2px rgba(0,0,0,0.25);
    background-color: #C03027;
}
